@font-face {
  font-family: "Helvetica Now Display";
  src: url("../assets/fonts/HelveticaNowDisplayRegular-5760477.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --corporative-pink: #f72585;
  --black: #000000;
  --white: #f5f5f5;
  --white-transparent: rgba(255, 255, 255, 0.4);
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Helvetica Now Display", Helvetica, Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
}
.no-lg {
    display: none;
}

.layout {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  flex: 1;
}

header {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.5rem 0px;
  z-index: 1;
  min-height: 40vh;
  top: 0px;
  flex: 0 0 260px;
}

main {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

section h2 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.background {
  background: url("../assets/img/DESCKTOP-LANDING-BACKGROUND.png") center /
    cover no-repeat;
}

/* HEADER NAVEGACIÓN Y TOGGLE DE NAVEGACIÓN */
#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

#menu-toggle-close {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

#nav-overlay {
  display: none;
}

#navbar ul {
  list-style: none;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#navbar li {
  position: relative;
}

#navbar a {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--black);
  padding: 0.5rem 1rem;
  display: block;
  width: fit-content;
}

#navbar a:hover {
  color: var(--corporative-pink);
}

#navbar .submenu {
  text-align: right;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  margin-right: 0;
}

#navbar .has-submenu:hover .submenu {
  max-height: 500px;
  opacity: 1;
}

#navbar .submenu .sub-category a {
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  justify-self: flex-end;
}

/* CONTENIDO DE LA PÁGINA */

.box {
  position: relative;
  padding: 4rem clamp(2rem, 3vw, 4rem) 4rem clamp(3rem, 3vw, 4rem);
}

section.background {
  min-height: 360px;
}

section .content-top {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--corporative-pink);
  font-weight: bold;
}

.who-we-are .title {
  color: var(--black);
}

.sub-title {
  color: var(--corporative-pink);
  font-weight: bolder;
}

.description {
  font-size: 1rem;
  font-style: italic;
  text-align: justify;
  max-width: 100%;
}

.description .sub-title {
  font-style: normal;
}

.description.last::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--corporative-pink);
  margin-top: 2rem;
}

select:invalid {
  color: #999;
}

select option {
  color: black;
}

/* GALLERY VIDEO Y CARROUSEL */

#gallery {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, transparent, var(--white));
}

#design .carousel {
  position: relative;
}

#design .carousel::after {
  width: 120px;
  height: 280px;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: grab;
  user-select: none;
}

.carousel-track.dragging {
  cursor: grabbing;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.carousel-track img {
  flex: 0 0 auto;
  max-height: 280px;
  width: auto;
  object-fit: contain;
  scroll-snap-align: start;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.video-wrapper {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* SERVICIOS */

.services {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: clamp(1rem, 3.5vw, 10rem);
  justify-content: center;
}

.services-media {
  flex: 1 1 45%;
  max-width: 980px;
  min-width: 200px;
  align-self: center;
}

.services-content {
  flex: 1 1 50%;
  max-width: 600px;
  min-width: 200px;
}

.services-image {
  max-width: 100%;
  width: 660px;
  height: auto;
  display: block;
}

.services-text p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.services-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature .feature-label {
  color: var(--corporative-pink);
  font-size: 0.8rem;
}

.feature img {
  width: clamp(60px, 7vw, 80px);
  height: clamp(60px, 7vw, 80px);
  border: var(--corporative-pink) 2px solid;
  border-radius: 12px;
  margin-bottom: 8px;
}

/* FORMULARIO Y PAGINA CONTACTO */

.container.contact {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid #999;
  background: transparent;
  outline: none;
  font-size: 0.9rem;
}

.contact-form select {
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid #999;
  background: transparent;
  outline: none;
  font-size: 0.9rem;

  /* quitar flecha nativa */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding-right: 40px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ff2b7a'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 18px;
}

.contact-form textarea {
  border-radius: 20px;
  min-height: 120px;
  resize: none;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border: 2px solid var(--corporative-pink);
}

.contact-form button {
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: var(--corporative-pink);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contact-map {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-map img {
  max-width: 600px;
  width: 100%;
}

/* FOOTER */
footer {
  color: var(--dutch-white);
  text-align: center;
  font-size: 1rem;
  position: relative;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .footer-content .footer-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1rem;
}

footer .footer-content .footer-email {
  margin: 0;
}

footer .footer-content .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0.5rem 1rem 1rem 1rem;
}

footer .footer-content .footer-links a {
  position: relative;
  color: var(--black);
  text-decoration: none;
  margin-right: 18px;
}

footer .footer-content .footer-links a:hover {
  text-decoration: underline;
}

footer .footer-content .footer-links a::after {
  content: "";
}

footer .footer-badge {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

footer .footer-badge img {
  width: 4rem;
}

/* ========================= */
/* CRUCES DECORATIVAS */
/* ========================= */
/* Base para todas las esquinas */
.corner {
  position: absolute;
  pointer-events: none;
  --size: clamp(1rem, 1.3rem, 1.5rem);
  --thickness: clamp(0.1rem, 0.2rem, 0.3rem);
}

.corner::before,
.corner::after {
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  background:
    linear-gradient(black, black) center / 100% var(--thickness) no-repeat,
    linear-gradient(black, black) center / var(--thickness) 100% no-repeat;
}

/* Posicionamiento de las esquinas */
.corner.top-left { top: 0.5rem; left: 0.5rem; }
.corner.top-right { top: 0.5rem; right: 1.8rem; }
.corner.bottom-left { bottom: 1.8rem; left: 0.5rem; }
.corner.bottom-right { bottom: 1.8rem; right: 1.8rem; }

/* Centrados */
.corner.center-top { top: 0.5rem; left: 50%; transform: translateX(-50%); }
.corner.center-bottom { bottom: 1.8rem; left: 50%; transform: translateX(-50%); }
/* Base común */
/* .corners {
  position: absolute;
  inset: 0;
  pointer-events: none;
  --size: clamp(1rem, 1.3rem, 1.5rem);
  --thickness: clamp(0.1rem, 0.3rem, 0.5rem);
} */

/* Base + */
/* .corners::before,
.corners::after {
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  background:
    linear-gradient(black, black) center / 100% var(--thickness) no-repeat,
    linear-gradient(black, black) center / var(--thickness) 100% no-repeat;
} */

/* + SUPERIOR IZQ */
/* .corners--top::before {
  top: 0.5rem;
  left: 0.5rem;
} */

/* + SUPERIOR DERECHA */
/* .corners--top::after {
  top: 0.5rem;
  right: 0.5rem;
} */

/* + INFERIOR IZQUIERDA */
/* .corners--bottom::before {
  bottom: 0.5rem;
  left: 0.5rem;
} */

/* + INFERIOR DERECHA */
/* .corners--bottom::after {
  bottom: 0.5rem;
  right: 0.5rem;
} */

/* CONTROLAR CUALES SE MUESTRAN */
/* Las 4 + */
/* .box--all .corners {
  display: block;
} */

/* Solo abajo */
/* .box--bottom .corners--top {
  display: none;
} */

/* Solo arriba */
/* .box--top .corners--bottom {
  display: none;
} */

/* ========================= */
/* MEDIA QUERIES */
/* ========================= */

@media only screen and (max-width: 510px) {
  .title {
    font-size: 2.5rem;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .carousel-track img {
    max-height: 270px;
  }
}

@media only screen and (max-width: 762px) {
  /* HEADER Y NAVBAR */
  .layout {
    display: block;
  }

  header {
    position: fixed;
    right: 0;
    width: auto;
    flex: none;
  }

  main {
    width: 100%;
    flex: none;
  }

  .no-md {
    display: none;
  }

  .no-lg {
    display: block;
  }

  .box {
    padding: clamp(1.5rem, 12vw, 4rem);
  }

  #menu-toggle {
    display: block;
  }

  #menu-toggle-close.active {
    display: block;
    z-index: 30;
  }

  #navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    z-index: 30;
  }

  #navbar.active {
    display: flex;
  }

  #navbar ul {
    flex-direction: column;
  }

  #nav-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 311px;
    height: 600px;
    background: var(--white-transparent);
    backdrop-filter: blur(10px);
    z-index: 20;
    border-radius: 8px;
  }

  #nav-overlay.active {
    display: block;
  }

  #navbar .submenu .sub-category a {
    padding-right: 0;
  }
  /* CONTENIDO PRINCIPAL HOME */
  section .content-top {
    width: 100%;
  }

  .services-features {
    grid-template-columns: repeat(2, 1fr);
  }

  /* CONTACT PAGE */
  .container.contact {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-form {
    width: 100%;
    justify-content: center;
  }

  .contact-map {
    width: 100%;
    justify-content: center;
  }

  /* CAROUSEL */
  .carousel::after {
    width: 60px;
  }

  #gallery.box {
    padding: 1.5rem;
  }

  .carousel-track {
    gap: 0;
    padding: 0 16px;
    scrollbar-width: auto;
    -webkit-overflow-scrolling: touch;
  }

  .carousel-track::-webkit-scrollbar {
    display: block;
    height: 6px;
  }

  .carousel-track img {
    flex: 0 0 70%;
    margin-right: 0.6rem;
    width: 100%;
    object-fit: contain;
    scroll-snap-align: center;
  }
  /* FOOTER */
  footer .footer-badge {
    position: static;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .services-image {
    justify-self: center;
  }
}

/* | DE LOS LINKS DEL FOOTER */

@media (min-width: 464px) and (max-width: 762px) {
  footer .footer-content .footer-links a:first-child::after {
    content: "|";
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
  }

  .services {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 713px) {
  footer .footer-content .footer-links a:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
